{{ define "main" }}

{{ partial "content_overview.html" . }}

{{ range .Pages.GroupByDate "2006" }}
<h4>{{ .Key }}</h4>
<ul class="list-unstyled">
    {{ range .Pages }}
    <li class="mt-1"> 
        <span class="text-muted">
            <!-- Thu September 27, 2018 -->
            {{ (i18n .Date.Month | default .Date.Month) | truncate 3 "" }} {{ .Date.Day }}
        </span>
        <a href="{{ .Permalink }}">
            {{ .Title }}
        </a>
    </li>
    {{ end }}
</ul>
{{ end }}
{{ end }}
