{{ $count := len .Pages }}
{{ $what := .Section | singularize }}

{{ $firstPostYear := 2010 }}
{{ $year := int (now.Format "2006") }}
{{ $years := add (sub $year $firstPostYear) 1 }}

<p class="text-muted">
    {{ if eq .Kind "section" }}
    {{ $count }} {{ i18n $what $count }} {{ i18n "over" }} {{ $years }} {{ i18n "years" $years }}
    {{ end }}
    {{ if eq .Kind "taxonomy" }}
    {{ if eq .Type "categories" }}
    {{ $count }} {{ i18n "item" $count }} in category <i>{{ .Title }}</i>
    {{ end }}
    {{ if eq .Type "tags" }}
    {{ $count }} {{ i18n "item" $count }} tagged <i>{{ .Title }}</i>
    {{ end }}
    {{ end }}
</p>