<!-- Meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

{{ if .Site.Params.dark }}
<!-- Android status bar color -->
<meta name="theme-color" content="#343a40">
{{ end }}

<title>
    {{ if .IsHome }}
        {{ .Site.Title }}
    {{ else }}
        {{ if eq .Kind "taxonomyTerm" }}
        {{ i18n (lower .Title) | humanize }}
        {{ else }}
        {{ .Title }} | {{ .Site.Title }}
        {{ end }}
    {{ end }}
</title>

{{ partial "styles.html" . }}

<!-- Google Analytics -->
{{ template "_internal/google_analytics_async.html" . }}
