<!-- Meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

{{ if .Site.Params.dark }}
<!-- Android status bar color -->
<meta name="theme-color" content="#343a40">
{{ end }}

<title>
    {{ if .IsHome }}
        <!-- Show site title only if on home page -->
        {{ .Site.Title }}
    {{ else }}
        {{ if eq .Kind "taxonomy" }}
        <!-- Show taxonomy page title (e.g. Tags) -->
        {{ .Data.Term }}
        {{ else }}
        {{ if eq .Kind "taxonomyTerm" }}
        <!-- Do not capitalize taxonomy term titles (e.g. tag titles) -->
        {{ i18n (lower .Title) | humanize }}
        {{ else }}
        <!-- Show page title from the Front Matter -->
        {{ .Title }}
        {{ end }}
        {{ end }} | {{ .Site.Title }}
    {{ end}}
</title>

<!-- Favicon -->
<link
    rel="shortcut icon"
    type="image/png"
    href="/favicon.png">

<!-- Bootstrap -->
<link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
    integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
    crossorigin="anonymous">

<!-- Font Awesome -->
<link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
    integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">

<!-- highlight.js -->
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/idea.min.css" />

<!-- Internal -->
<link
    rel="stylesheet"
    href="/css/style.css">

<!-- Google Analytics -->
{{ template "_internal/google_analytics_async.html" . }}
