<div class="row mt-4">
    <div class="col">
        <!-- Last N regular pages from section sorted by date in reverse order -->
        {{ $items := first .max (where .ctx.Site.RegularPages "Section" .section).ByDate.Reverse }}
        {{ $itemsLength := len $items }}
        <!-- Do not show less than 2 items -->
        {{ if gt $itemsLength 1 }}
        <h5>
            <!-- Last X posts -->
            {{ i18n "last" $itemsLength | humanize }} {{ $itemsLength }} {{ i18n (singularize .section) $itemsLength }}
        </h5>
        
        <ul class="list-unstyled">
            {{ range $items }}
            <li class="mt-1">
                <a href="{{ .Permalink }}">
                    {{ .Title }}
                </a>
            </li>
            {{ end }}
        </ul>
        {{ end }}
    </div>
</div>
