<div class="row mt-4">
    <div class="col">
        {{ $items := first .max (where .ctx.Site.RegularPages "Section" .section).ByDate.Reverse }}
        {{ $itemsLength := len $items }}
        {{ if gt $itemsLength 1 }}
        <h5>
            {{ i18n "last" $itemsLength | humanize }} {{ $itemsLength }} {{ i18n (singularize .section) $itemsLength }}
        </h5>
        
        <ul class="list-unstyled bold">
            {{ range $items }}
            <li class="mt-1">
                <a href="{{ .Permalink }}">
                    {{ .Title }}
                </a>
            </li>
            {{ end }}
        </ul>

        {{ if .link }}
        <a href="/{{ .section }}">view all</a>
        {{ end }}
        {{ end }}
    </div>
</div>
