{{ define "main" }}
    {{ partial "content_overview.html" . }}
    
    <div class="col pl-0">
        {{ range .Pages.GroupBy "Section"}}
        <h4 class="pb-0">{{ .Key | title }}</h4>
        {{ range .Pages.GroupByDate "2006" }}
        <h5 class="pb-0">{{ .Key }}</h4>
        <ul class="list-unstyled bold">
            <div class="col">
                {{ range .Pages }}
                <li class="mt-1">
                    <div class="row">
                        <div style="min-width: 3.4em; text-align: right">
                            <span class="text-muted">
                                {{ (i18n .Date.Month | default .Date.Month) | truncate 3 "" }} {{ .Date.Day }}
                            </span>
                        </div>
                        <div class="col">
                            <a href="{{ .Permalink }}">
                                {{ .Title }}
                            </a>
                        </div>
                    </div>
                </li>
                {{ end }}
            </div>
        </ul>
        {{ end }}
        {{ end }}
    </div>
{{ end }}
